[Bb]in/
[Oo]bj/

.vs/
.idea/claudeCodeTabState.xml
*.user
*.userosscache
*.sln.docstates

# HASŁA!!!!!
appsettings.Development.json
appsettings.Local.json

*.sqlite
*.db

.DS_Store
Thumbs.db
/BramkaAPI/appsettings.json
